.ant-input {
    width: 300px !important;
    margin-bottom: 20px;
    padding: 12px;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
        0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.main-form {
    padding-bottom: 90px;
}


.login-form-button {
    text-transform: uppercase;
    outline: 0;
    background: #1D1D1B;
    width: 100%;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.anticon {
    background-color: #f2f2f2;
    padding: 15px;
    vertical-align: middle;
}

.auth-text {
    display: inline-block;
    margin-right: 10px;
}

.ant-form-item-explain-error {
    font-size: 14px;
    color: red;
    margin-bottom: 10px;
}


@media screen and (max-width: 321px) {
    .form {
        width: 270px;
        padding: 30px 10px;
    }

    .ant-input {
        width: 256px !important;
    }

    .auth-text {
        margin-right: 5px;
        font-size: 15px;
    }

    .anticon {
        display: none;
    }

    .main-form {
        padding-bottom: 0px;
    }

    .login-form-button {
        margin-top: 10px;
    }
}